<!DOCTYPE html>
body {
  background-color: #236180;
}
  h1 {
 text-align: left;
 color: #fff9e2;
 font-size: 120px;
 font-family: "courier new", courier;
 margin-left: 100px;
}
  h2 {
 text-align: center;
 color: #f7dc97;
 font-size: 40px;
 font-family: "courier new", courier;
}
a {
  color: #f7dc97;
}
  h3 {
 text-align: left;
 color: #e18e49;
 font-size: 32px;
 font-family: "book antiqua", palatino;
 margin-left: 40px;
}
  p {
 color: #fff9e2;
 font-size: 20px;
 font-family: "book antiqua", palatino;
 margin-left: 40px;
}
 i {
 text-align: center;
 font-size: 15px;
 }
  img{
    border-radius: 20%;
  }
